* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #417ef0;
}

header {
  background-color: #2c2c2c;
  width: 100%;
  height: 200px;
  box-shadow: 0 2px 2px #2c2c2c;
  margin: 0 auto;
}
