@import './reset.scss';

$black: #2c2c2c;
$white: #ebebeb; 
$blue:  #417ef0;

body {
    background-color: $blue;
}

header {
    background-color: $black;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 2px $black;
    margin: 0 auto;
}